{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    <h1>welcome to shit on my . life</h1>
{% endblock %}

{% block content %}

	<h3>Popular shitpics:</h3>


<ul>
    {% for pic, form in pics_and_forms %}
    <li>
        <b>{{ pic.name }}  </b>
        <br>
        <i>Submitted by {{ pic.user.username }}</i>
        <br>
        Score: {{ pic.score }}

        <img src="/shitpic/get/{{ pic.uuid }}" style="width:128px;" >
        <form method="post" action=" {{ url_for('index_mod.index') }}">
        {{ form.csrf_token }}
        {{ form.shitpic }}
        {{ form.upvote }}
        {{ form.downvote }}
        </form>

        <br>

    </li>
    {% endfor %}
</ul>

<br>
<br>

{% endblock %}
