{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}



{% block content %}

    <h1>welcome to shit on my . life</h1>

	<h3>Popular shitpics:</h3>

<ul>
    {% for shitpic in shitpics %}
    <li>
    	<b>{{ shitpic.name }}  </b>
    	<br>
    	<i>Submitted by {{ shitpic.user.username }}</i>
    	<br>
    	Score: {{ shitpic.score }}
    	<br>
        <img src="/shitpic/get/{{ shitpic.uuid }}" style="width:128px;" >
        <a href="/shitpic/up/{{ shitpic.uuid }}/{{ token.uuid }}">vote up!</a> 
        -
        <a href="/shitpic/down/{{ shitpic.uuid }}/{{ token.uuid }}">vote down!</a>
    </li>
    {% endfor %}
</ul>

<br>
<br>

{% endblock %}
