{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

	<h2>Log in or sign up!</h2>
    {{ alert }}
    <form method="POST" enctype="multipart/form-data">
        <br> {{ form.csrf_token }} {{ form.username.label }} {{ form.username }}
        <br> {{ form.password.label }} {{ form.password }}
        <br> new user? {{ form.new_user }}
        <input type="submit" value="Go!">
    </form>
    <br>
    <b>Passwords are saved in plain text :)</b>
{% endblock %}